*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    --font-color: #282a36;
    --BACKGROUND-color: #f39494;
    --PRIMERY-color: rgb(12, 109, 165);
    --SECONDERY-color: #fe9900;
    --FOOTER-color: #202020;
    --font-color: white;

}

/*procuct*/

.aside-bar-main-content{
    display: grid;
    grid-template-columns: 20% 80%;
}

/*********************************CARD-VERTICAL***********************/
.card-vertical {
    width: 30%;
    background-color: var(--font-color);
    padding: 1rem;

}

.flex-row {
    display: flex;
    gap: 1rem;
}

.CARD-IMG-product-list {
    width: 100%;
}

.card-nav-icon {
    display: flex;
    float: right;
    border: none;
    gap: .3rem;
    font-size: 1.3rem;
}

.card-text {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.add-cart {
    border: none;
    padding: .5rem;
    background-color: var(--SECONDERY-color);
    font-weight: 600;
    border-radius: 10px;

}

.products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-cta-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    color: green;
}

.products h1 {
    display: flex;
    justify-content: center;
    font-weight: 600;

}
/**************************************************/
.body-section {
   width: 20%;

}

.aside-section {
    background-color: gainsboro;
    overflow-y: scroll;
    /* max-height: 200%; */
    /*max-width: 25rem;*/
    padding: 2rem 2.5rem;
}

.main-section{
    /* background-color: rgba(189, 204, 189, 0.781); */
    width: 100%;
}

.aside-section-header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem;
}

.aside-section-title{
    font-size: 2rem;
    font-weight: 500;
}

.clear-btn{
    text-decoration: underline;
    color: green;
    font-weight: 500;
    font-size: 1.5rem;
}

.price-section{
    margin: 2rem 0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1rem;
 
}

.aside-section-title-md{
    font-size: 1.5rem;
    font-weight: 600;
}

.range-input-container{
    padding: 1.5rem 0rem;
}

.price-label{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 19rem;
    color: var(--BLACK-80);
}

.input-range{
    accent-color: blue;
    width: 18rem;
    font-size: larger;
   
}

.checkbox-input{
    display: flex;
    gap: 1rem;
    margin-top: 0;
    align-content: center;
    accent-color: blue;
}

.category-section-aside{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.3rem;
}

.checkbox{
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    
}

.rating-section{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.3rem;
}


.radio{
    width: 1.5rem;
    height: 1.5rem;
}

.fa-star{
    font-size: 1.5rem;
}

.radio-input{
    accent-color: rgb(0, 183, 255);
     display: flex;
    gap: 10px;

}

.main-section{
    padding: 3rem ;
}

.main-section-title{
    font-size: 3rem;
    font-weight: 550;
}

.main-section-card{
   margin-top: 4rem;
   display: flex;
   flex-wrap: wrap;
   gap: 4rem;
   justify-content: center;
   align-items: center;
}