.App {
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.navbar-md-head{
    display: flex;
    justify-content: space-around;
}
